<form action="/signin" method="post">
  <fieldset>
    <p><label for="username" class="username">Username</label><input id="username" maxlength="100" name="username" size="25" type="text"></p>
    <p><label for="password" class="password">Password</label><input maxlength="25" name="password" size="25" type="password"></p>
    <p><input type="submit" value="Sign In"></p>
  </fieldset>
</form>
